<html lang="en">
    <%- include('./partials/head.ejs')  %>
    <body>

        <%- include('./partials/nav.ejs')  %>

        <div class="about content">
            <h2>About Us</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum aut at, iure dolor veniam doloremque officia amet esse soluta in eos sequi tempore voluptate exercitationem deserunt harum.</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex libero suscipit est, vel aspernatur nam doloremque magnam ipsam neque repellat beatae ipsa a, impedit, deleniti quis ullam?</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex libero suscipit est, vel aspernatur nam doloremque magnam ipsam neque repellat beatae ipsa a, impedit, deleniti quis ullam?</p>
        </div>
        <%- include('./partials/footer.ejs')  %>
    </body>
</html>